@font-face {
  font-family: "iconfont"; /* Project id 4297870 */
  src: url('./iconfont/') format('woff2'),
       url('iconfont.woff?t=1698034181367') format('woff'),
       url('iconfont.ttf?t=1698034181367') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e607";
}

.icon-yanzhengma:before {
  content: "\e65a";
}

